@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: white;
    /* To avoid any scroll bars */
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    /* To center vertically */
    height: 100vh;
    justify-content: center;
}

#right {
    flex: 1;
}

/* Sign In */

#signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-bottom: 1 rem;
}

#signin form {
    width: 80%;
    padding-bottom: 3rem;
}

#signin .logo {
    margin-bottom: 8vh;
}

#signin .logo img {
    width: 300px;
}

#signin label {
    font-size: 1.1rem;
    line-height: 2rem;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 5px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

/* Showcase */
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('img/login-bg.jpg') no-repeat center center / cover;
    height: 100vh;
}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;
}

/* Footer */
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}

#main-footer a {
    color: #f96816;
    text-decoration: underline;
}

/* Button */
#signin .primary-btn {
    width: 100%;
}

#signin .secondary-btn,
.or,
.links {
    width: 60%;
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: #aaa;
}

#signin .or span {
    color: #ccc;
    padding: 0 0.8rem;
}

.primary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    /* For button to have its own line */
    display: block;
    border: 0;
    border-radius: 5px;
    background: #f96816;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.primary-btn:hover {
    background-color: #ff7b39;
}

.secondary-btn {
    padding: 0.5rem 1.2rem;
    height: 2.7rem;
    /* For button to have its own line */
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    background: none;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover {
    border-color: #ff7b39;
    color: #ff7b39,
}

/* Media Queries */

@media(min-width:1200px) {
    #left {
        flex: 4;
    }

    #right {
        flex: 6;
    }

}

@media(max-width:768px) {
    body {
        overflow: auto;
    }

    #right {
        display: none;
    }

    #left {
        justify-content: start;
        margin-top: 2vh;
    }
}